
  @charset "UTF-8";
  html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  *, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-size: inherit;
  }

  img {
    max-width: 100%;
  }

  body {
    font-family: "Roboto Mono", mono;
    line-height: 1.5;
    font-size: 1.125rem;
    text-align: center;
    background-color: #FCE3E4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    min-height: 100vh;
    width: 100%;
  }

  nav {
    margin-top: 2rem;
    line-height: 1;
  }

  nav a {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 14px;
    color: #000;
    margin-bottom: 20px;
  }

  nav a:hover {
    text-decoration: none;
    color: #E7627C;
  }

  nav a:not(:last-child) {
    margin-right: 10px;
  }

  #content {
    margin-top: 1rem;
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.05);
  }

  @media (min-width: 40rem) {
    #content {
      max-width: 40rem;
    }
  }

  .container {
    padding: 10px;
    width: 100%;
    height: 100%;
    min-height: 600px;
    padding: 2rem;
    transition: all 2s ease-in-out;
  }
  @media (min-width: 650px) {
    .container {
      padding: 4rem;
    }
  }

  h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
    line-height: 1;
    margin-bottom: 0.5rem;
  }

  h1, h2 {
    font-weight: 200;
    font-size: 2.5rem;
  }
  h1 a:hover, h2 a:hover {
    text-decoration: none;
  }

  a {
    color: #E7627C;
    text-decoration: none;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
  }
  a:hover {
    color: inherit;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
  }

  p {
    margin-bottom: 2rem;
  }

  .tldr {
    margin-top: 2rem;
  }

  .tldr p {
    font-size: 12px;
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
    text-align: left;
  }

  .tldr p:last-child {
    margin-bottom: 0;
  }

  .tldr p:before {
    width: 20px;
    height: 20px;
    display: inline-block;
    color: #FCBBC0;
    content: '\21AC';
    margin-left: -32px;
    margin-right: 12px;
    font-size: 1rem;
    line-height: 1;
  }

  nav a:not(:first-child):before,
  .biases h3:after, .bio li:not(:last-of-type):after {
    content: "·";
    margin-left: 10px;
    color: #FCBBC0;
    font-family: "Roboto Mono", mono;
  }
    nav a:not(:first-child):before {
      color: #E7627C;
      margin-left: 0px;
      margin-right: 20px;

    }

  .ults {
    font-size: 1rem;
  }

  .ults p {
    font-size: 12px;
    margin-bottom: 0;
  }

  .ults p.lyric {
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .stan {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .stan > * {
    flex: 1;
  }

  .hahee {
    border-radius: 50px;
  }

  .divider {
    display: block;
    margin: 2rem auto;
    color: #FCBBC0;
  }

  .stan p:first-child {
    text-align: right;
  }

  .stan p:last-child {
    text-align: left;
    margin-left: 2rem;
  }

  .stan img {
    margin-left: 2rem;
    max-width: 100px;
    max-height: 100px;
  }

  .biases {
    font-size: 1rem;
    text-transform: lowercase;
  }
  @media (max-width: 40rem) {
    .biases p {
      margin-bottom: 1rem;
    }
  }

  .stan-group {
    position: relative;
    transition: all 200ms ease-in-out;
  }


  .stan-group span {
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    vertical-align: middle;
    padding-top: 20%;
    letter-spacing: 3px;
    font: 800 4rem Montserrat, sans-serif;
    color: #fff;
  }

  .stan-group span {
    transition: all 300ms ease-in-out;

  }
  .stan-group img {
    transition: all 100ms ease-in-out;
  }

  .stan-group:hover span {
    opacity: 1;
  }

  h3 {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
  }

  h3 + p {
    display: inline-block;
    margin-bottom: 0;
  }

  .casuals {
    margin-top: 2rem;
  }

  .bio {
    list-style: none;
  }
  .bio li {
    display: inline-block;
  }
  .bio:last-of-type {
    margin-bottom: 2rem;
  }
  @media (max-width: 40rem) {
    .bio {
      font-size: 1rem;
    }
      .stan {
        flex-direction: column;
      }

      .stan img {
        margin-left: 0;
      }

      .stan p {
        text-align: center !important;
      }
        .stan-group span {
          font-size: 2rem;
        }
  }
