<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }} · {{ site.description }}</title>

  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400" rel="stylesheet">
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="icon" href="/assets/moon.png">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@12lesbians">
  <meta name="twitter:creator" content="@12lesbians">
  <meta name="twitter:title" content="{{ page.title | default: site.title }}">
  {% if page.layout == 'text' %}
    <meta name="twitter:image" content="{{ page.img }}">
    <meta property="twitter:description" content="roundup of fan-recorded event content, don’t tell BBC">
  {% else %}
    <meta name="twitter:image" content="{{ site.url | append: site.social_logo_path }}">
    <meta name="twitter:description" content="{{ page.description | default: site.description }}">
  {% endif %}

  <!-- Facebook -->
  <meta property="og:url" content="{{ site.url | append: page.url }}">
  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:type" content="website">
  <meta property="og:image:secure_url" content="{{ site.url | append: site.social_image_path }}">
  {% if page.layout == 'text' %}
    <meta property="og:image" content="{{ page.img }}">
    <meta property="og:description" content="roundup of fan-recorded event content, don’t tell BBC">
  {% else %}
    <meta property="og:image" content="{{ site.url | append: site.social_image_path }}">
    <meta property="og:description" content="{{ page.description | default: site.description }}">
  {% endif %}
</head>

<body>
  <header class="page-header">
    <div class="container">
      <h1 class="page-title">{% if page.layout == 'category' %}all {{ page.title | downcase }} wallpapers{% else %}{{ page.title | downcase }}{% endif %}</h1>
      <nav class="nav">
        <ul>
          <li>
            <a href="/">latest wallpapers</a>
          </li>
          <li>
            <a href="/all">view all tags</a>
          </li>
          <li>
            <a href="/more">other</a>
          </li>
        </ul>
      </nav>
      <p class="mobile">tap on an image to open it at full size. to download, long-press the image + save!</p>
    </div>
  </header>

  <main class="page-content" aria-label="Content">
