<div class="post">
  <figure>
    <img src="/wallpaper/girlgroups.tk__{% if post %}{{ post.img }}{% else %}{{ page.img }}{% endif %}">
    <figcaption class="post_info">
      <ul>
        <li>
          {% if post %}
            {% assign categories = post.categories %}
          {% else %}
            {% assign categories = page.categories %}
          {% endif %}
          {% for category in categories %}
            #<a href="{{ site.baseurl }}/{{ category | slugize }}">{{ category }}</a>
          {% endfor %}
        </li>
        <li>
          {% if post %}
            {{ post.era-or-event }}
          {% else %}
            {{ page.era-or-event }}
          {% endif %}
        </li>
        {% if post %}
          {% if post.photo-credit %}
            <li>
              photo cr {{ post.photo-credit }}
            </li>
          {% endif %}
        {% else %}
          {% if page.photo-credit %}
            <li>
              photo cr {{ page.photo-credit }}
            </li>
          {% endif %}
        {% endif %}
      </ul>
    </figcaption>
  </figure>
</div>
