* {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

body {
  color: #444;
  background: #fff;
  margin: 0 auto 40px auto;
  font-family: 'Lato', 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #79a2c9;
  text-decoration : none;
}

a:hover {
  color: #8f8f8f;
}

h1,
h2,
p {
  margin: 0;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 1.5em;
  color: #959da5;
}

/*
 * Layout
 */

.container {
 width: 95%;
 max-width: 800px;
 margin-left: auto;
 margin-right: auto;
}

  @media screen and (min-width: 500px) {
   .container {
     width: 80%;
   }
  }

.page-header {
 margin-top: 20px;
 margin-bottom: 60px;
 font-size: 12px;
 line-height: 1.66;
}

.page-result {
  padding: 60px 0;
  background-color: #fff;
}

.page-header h1 {
  font-size: 12px;
}

.page-header p {
  max-width: 44%;
}
  @media screen and (max-width: 930px) {
    .page-header p {
      max-width: 100%;
    }
  }


/*
 * Sorter styling
 */

 .sorter-game {
   text-align: center;
 }

 .sorter-header {
   margin-bottom: 10px;
 }

.sorter-option {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  background: #fff;
  border-radius: 8px;
  border: solid 2px #e1e4e8;
  box-shadow: 0 3px 0 #e1e4e8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.song-sorter .sorter-option {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

  @media screen and (min-width: 500px) {
    .song-sorter .sorter-option:not(.option-tie) {
      padding-left: 60px;
      padding-right: 60px;
      min-height: 180px;
      line-height: 1.4;
    }
  }

  @media screen and (max-width: 800px) {
    .song-sorter .sorter-option:not(.option-tie) {
      font-size: 18px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  @media screen and (max-width: 500px) {
    .song-sorter .sorter-option {
      font-size: 16px;
    }

    .song-sorter .sorter-option:not(.option-tie) {
      line-height: 1.2;
      padding-left: 6px;
      padding-right: 6px;
      min-height: 125px;
    }
  }

  @media screen and (max-width: 500px) {
    .sorter-option:not(.option-tie) {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
    }
  }

  .sorter-option:hover {
    background-color: #1b1f23;
    border-color: #1b1f23;
    color: #fff;
    box-shadow: 0 3px 0 #1b1f23, 0 5px 12px rgba(0,0,0,0.1);
  }

.main-battle {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.sorter-option#optionA,
.sorter-option#optionB {
  width: 46%;
}

@media screen and (min-width: 700px) {
  .sorter-option#optionA,
  .sorter-option#optionB {
    width: 45%;
  }
}

.versus {
  display: none;
  letter-spacing: 1px;
  color: #959da5;
}

@media screen and (min-width: 700px) {
  .versus {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.sorter-option .heart {
  display: block;
  font-weight: 400;
  font-size: 16px;
}

.sorter-option:not(.option-tie) {
  padding-top: 30px;
  padding-bottom: 30px;
}

.sorter-option.option-tie {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.results-list ul {
  list-style-type: none;
  padding-left: 0;
}

.results-list li:not(:last-child) {
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: solid 1px #e1e4e8;
}

.number {
  display: inline-block;
  width: 20px;
  text-align: right;
  margin-right: 10px;
  color: #959da5;
}

/*
 LOONA colors
 */
.heejin {
  color: #ED4576;
}

.hyunjin {
  color: #E6D731;
}

.haseul {
  color: #11b00d;
}

.vivi {
  color: #e68fac;
}

.yeojin {
  color: #ff751d;
}

.lip {
  color: #df191a;
}

.soul {
  color: #2088fc;
}

.choerry {
  color: #83159a;
}

.yves {
  color: #751c33;
}

.chuu {
  color: #eaa77a;
}

.gowon {
  color: #6fdec4;
}

.olivia {
  color: #444;
}

.song-sorter .page-header div {
  display: flex;
  justify-content: space-between;
}

.song-sorter .page-header div p a {
  display: inline-block;
}

.song-sorter .page-header div p:last-child {
  text-align: right;
}
