body {
  font-family: "Roboto", "Arial", sans;
  line-height: 1.45;
  font-size: 12px;
}


p,
.page-title {
  max-width: 30rem;
  margin: 20px auto;
  text-align: center;
}

p {
  margin-bottom: 200px;
}

.page-content {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  color: #111;
  font-weight: 700;
  &:hover {
    color: inherit;
  }
}

.post {
  max-width: 250px;
  margin: 0 20px 20px 20px;
}

.post_info ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  li {
    display: inline;
  }
  li:not(:last-child):after {
    content: '\00B7';
    color: #999;
    margin: 0 4px 0 3px;
  }
}

figcaption {
  margin-top: 10px;
  a {
    padding: 1px 3px;
    margin-left: -2px;
    &:hover {
      text-decoration: none;
      background: pink;
    }
  }
}
